{% extends "base.html" %}

{% block announce %}
    Welcome to Meow.js documentation! This is currently in the works, so <b>please</b> keep an open mind!
{% endblock %}
{% block disqus %}
<script src="https://giscus.app/client.js"
data-repo="meow-js/meow-js"
data-repo-id="MDEwOlJlcG9zaXRvcnkzODE0NTkyNTg="
data-category="giscus"
data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMzMDc2NzUw"
data-mapping="title"
data-reactions-enabled="1"
data-theme="light"
crossorigin="anonymous"
async>
</script>
{% endblock %}